server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./DB/chatdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
